Passport Application Requirements

Case 1
Application Type - Fresh
How the citizenship was acquired - Birth

Requirements
Adult (18 years and above)
    Letter of identification from Local Government/State of origin or residence or National Identity Card OR Letter of introduction for employees of government as a Nigerian citizen stating Service Number, Length of Service and Designation/Rank. The letter must be accompanied with a valid staff identity card.
    Completed passport application form.
    Marriage certificate, where applicable.
    Birth Certificate (certificate issued by the National Population Commission shall be required from applicants whose date of birth is with effect from Dec 1992) or Age Declaration attached with one passport-sized photograph and duly endorsed by a Commissioner for Oaths.
    Acknowledgement Slip and Evidence of Payment.
Minor (under 18 years of age)
    Completed passport application form attached with 1 passport sized photograph of minor to be endorsed on the reverse side by the consenting parent(s).
    Evidence of Nigerian citizenship of parent(s).
    Birth certificate (certificate must be issued by the National Population Commission for minors born within Nigeria).
    Letter of consent from either parent.
    Acknowledgement Slip and Evidence of Payment.
    Court Order and Letter of approval from State Ministry of Women and Child Development (This Requirement is strictly for adopted child).

Case 2
Application Type - Fresh
How the citizenship was acquired - Naturalization

Requirements
    Nigerian citizens by Naturalization or Registration are to visit the NIS Headquarters Abuja with original copies of relevant documents to commence their application process.
    All applications for minor, based on adoption or surrogacy can only be processed at the NIS Headquarters Abuja.


Case 3
Application Type - Fresh
How the citizenship was acquired - Registration

Requirements
    Certificate of Registration duly issued by the President of the Federal Republic of Nigeria.
    Completed passport application form.
    Marriage certificate where applicable.
    Birth Certificate or data page of previous passport as evidence of age.
    Acknowledgement Slip and evidence of payment.

Case 4
Application Type - Reissue
How the citizenship was acquired - Renewal of Passport

Requirements
Expired Validity
    Application Letter.
    Passport Booklet.
    Photocopy of Data Page of Passport.
    Acknowledgement Slip and Evidence of Payment.
Unexpired Validity
    Application Letter.
    Passport Booklet.
    Evidence of Maiden Name.
    If Validity is more than Six (6) Months, Applicant should state reason(s).
    Photocopy of Data Page of Passport.
    Acknowledgement Slip and Evidence of Payment.

Case 5
Application Type - Reissue
How the citizenship was acquired - Exhausted Visa Pages

Requirements
    Application Letter.
    Passport Booklet.
    Photocopies of Data Page.
    Acknowledgement Slip and evidence of payment.


Case 6
Application Type - Reissue
How the citizenship was acquired - Damaged Passport

Requirements
    Application Letter stating circumstances of Damage.
    Damaged Passport Booklet.
    Photocopies of Data Page.
    Sworn Affidavit from a Magistrate or High Court of damaged passport deposed to by applicant.
    Acknowledgement Slip and evidence of payment.

Case 7
Application Type - Reissue
How the citizenship was acquired - Lost Passport

Requirements
    Application Letter stating circumstances/place of loss.
    Extract of Police Report of Lost Passport.
    In case of loss due to fire outbreak, Fire Service Report is mandatory.
    Acknowledgement Slip and evidence of payment.
    *NB: Where a passport was declared lost and reissued, if recovered, the holder shall immediately notify the Nigeria Immigration Service of recovery and submit the passport for cancellation.

Case 8
Application Type - Reissue
How the citizenship was acquired - Change of name due to change of Marital Status

Requirements
Married
    Application Letter.
    Copy of Marriage Certificate or Declaration of Marriage.
    Sworn Affidavit from a Magistrate or High Court of Change of Name deposed to by Applicant.
    Copy of Newspaper Publication of Change of Name (21 days after publication).
    Statutory evidence of change of name (if resident outside Nigeria in lieu of iii and iv).
    Passport Booklet and Copy of Data Page of Passport.
    Acknowledgement Slip & Evidence of Payment.
Divorced
    Application Letter.
    Decree Nisi and Decree Absolute or Declaration of Divorce.
    Evidence of Maiden Name.
    In case of Re-marriage, Certificate of Marriage with Current Spouse.
    Sworn Affidavit from a Magistrate or High Court of Change of Name deposed to by Applicant.
    Copy of Newspaper Publication of Change of Name (21 days after publication).
    Statutory evidence of change of name (if resident outside Nigeria in lieu of iii and iv).
    Passport Booklet and Copy of Data Page of Passport.
    Acknowledgement Slip & Evidence of Payment.
Widowed
    Application Letter.
    Certificate of Death of spouse from National Population Commission (NPC).
    Evidence of Maiden Name.
    In case of Re-marriage, Certificate of Marriage with Current Spouse.
    Sworn Affidavit from a Magistrate or High Court of Change of Name deposed to by Applicant.
    Copy of Newspaper Publication of Change of Name (21 days after publication).
    Statutory evidence of change of name (if resident outside Nigeria in lieu of iii and iv).
    Passport Booklet and Copy of Data Page of Passport.
    Acknowledgement Slip & Evidence of Payment.

Case 9
Application Type - Reissue
How the citizenship was acquired - Change of data due to error

Requirements
    For changes due to Correction of Error(s)
    Application Letter stating reason(s) for change.
    If more than one [1] alphabet, attach evidence of payment of non-refundable Administrative Charge of N30,000.00 only.
    Previous documentary evidences to support request.
    Sworn Affidavit from a Magistrate or High Court of correction of error, deposed to by Applicant.
    Passport Booklet and Copy of Data Page.
    Acknowledgement Slip & Evidence of Payment of passport fees if application is approved.
Others
    This includes: Replacement of names, Addition of names, Deletion of names, Rearrangement of names.
    Application Letter stating reasons for the request and attached with evidence of payment of non-refundable Administrative Charge of N30,000.00 only.
    Previous documentary evidences to support request.
    Sworn Affidavit from a Magistrate or High Court of Change of Name deposed to by Applicant with passport sized photograph attached.
    Copy of Newspaper Publication of Change of name 21 days after the publication.
    Passport Booklet and Copy of Data Page of passport.
    Acknowledgement Slip & Evidence of Payment of passport fees if application is approved.